<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><strong>Admin Page</strong></h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename = 'images/test.svg') }}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Get Student ID's</h4>
                            <p class="card-text">Click here to print all the current student ID's</p>
                            <a href="#" class="btn btn-primary">Print ID's</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename = 'images/test.svg') }}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Get Student ID's</h4>
                            <p class="card-text">Click here to print all the current student ID's</p>
                            <a href="#" class="btn btn-primary">Print ID's</a>
                        </div>
                    </div>
                </div>



                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename = 'images/test.svg') }}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Get Student ID's</h4>
                            <p class="card-text">Click here to print all the current student ID's</p>
                            <a href="#" class="btn btn-primary">Print ID's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    
    </html>
    
    
    
    