<!DOCTYPE html>
<html>
<body>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <div class='container'>

        <div class="well well-lg" align="center" style="background-color: #FFFFFF; height: 50px; border-radius:25px;">
            
        </div> 

    </div>



        <div class = 'container'>
        <form action="{{ url_for('checkout') }}" method="post" style="vertical-align: middle;">
            <div class="form-group">
                <label for="exampleInputEmail1">Student ID</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Scan student ID" name="student_name">
                <small id="emailHelp" class="form-text text-muted">This is an example of text below the box</small>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Books to checkout</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>