<!DOCTYPE html>
<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<body>
    <br/>
    <br/>

    <div class='container'>

            <a class="btn btn-block btn-primary btn-lg" href="{{ url_for('update') }}">Checkout</a>
            <br/>
            <br/>
            <a class="btn btn-block btn-primary btn-lg" href="{{ url_for('ids') }}">Get IDs</a>
            <br/>
            <br/>
            <a class="btn btn-block btn-primary btn-lg" href="{{ url_for('update') }}">Other</a>
            <br/>
            <br/>
        
    </div>



        
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>